.projectSection {
    padding: 5px;
    display: flex;
}

.projectName {
    font-size: px;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.projectTechstack {
    font-size: x-large;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;

}

.projectDetails {
    font-size: x-large;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.projectText { 
    flex: 1;
    float: left;  
}

.projectImage {
    flex: 1;
    float: right;
    display: block;
}

.actualImg {
    border-radius: 10%;
}

.rounded {  
    padding-bottom: 10px;
    border-bottom: 8px solid #000;
  }

  @media (max-width: 800px) {
    img {
      display: none;
    }
  }